.nav {
    border-bottom: none;
    margin: 0.5em;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 12px 12px 12px
}

.innerNav {
    color: white;
    display: flex;
    align-items: center;
    border-bottom: white solid 0.5px;
}

.links{
    margin: 0 24px 0 24px;
}